{% extends "base.html" %}

{% block title %}
  {% if course %}
    Редактировать курс "{{ course.title }}"
  {% else %}
    Создать новый курс
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if course %}
      Редактировать курс "{{ course.title }}"
    {% else %}
      Создать новый курс
    {% endif %}
  </h1>
  <div class="module">
    <h2>Информация по курсу</h2>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Сохранить курс"></p>
    </form>
  </div>
{% endblock %}